<h1>Edit article</h1>

<div id="error_explanation">
  <% if @article.errors.any? %>
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= render 'form' %>

<%= link_to 'Cancel and return to articles listing', articles_path %>